# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env
.env.*
!.env.example

# Django
db.sqlite3
media/
staticfiles/
logs/
*.log

# Mac
.DS_Store

# IDE
.vscode/
.idea/

# Cache
.pytest_cache/
.coverage
htmlcov/.htaccess
